- title = (recent.item.respond_to?(:full_name) ? recent.item.full_name : recent.item.name)
%li{ class: recent != @versions.last ? "" : "last" }
  %dt= truncate(title, length: 19)
  %tt
    %strong= t(recent.item_type.downcase) + ":"
