- if (controller.controller_name == 'request_for_quatations') and (template = template_for_current_view).present?
  = render(template, request_for_quatation: request_for_quatation)
- else
  -# default view
  = render 'request_for_quatations/index_brief', request_for_quatation: request_for_quatation
