$('#create_request_for_quatation').html('#{ j render(partial: "new") }');
crm.flip_form('create_request_for_quatation');
crm.set_title('create_request_for_quatation', '#{ t(:create_request_for_quatation) }');
