- if (controller.controller_name == 'signed_jobs') and (template = template_for_current_view).present?
  = render(template, signed_job: signed_job)
- else
  -# default view
  = render 'signed_jobs/index_brief', signed_job: signed_job
